@media (max-width: 375px) {
  body {
    width: 100%;
  }
}
.topApp {
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  background: #c3cfd9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topApp h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;

  color: #e8833a;
}
