.number {
  gap: 7px;
  width: 26px;
  height: 26px;
  background: #c3cfd9;
  border: 1px solid #808f9d;
  border-radius: 12px;
}

.selecionado {
  width: 26px;
  height: 26px;
  background: #8dd7cf;
  border: 1px solid #45bdb0;
  border-radius: 12px;
}
.indisponivel {
  width: 26px;
  height: 25px;
  background: #fbe192;
  border: 1px solid #f7c52b;
  border-radius: 12px;
}
.caption {
  margin-top: 16px;
  display: flex;
}
.seats {
  gap: 7px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.disponivel {
  width: 26px;
  height: 26px;
  background: #c3cfd9;
  border: 1px solid #808f9d;
  border-radius: 12px;
}
input {
  width: 327px;
  height: 51px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
form {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.confirmation {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 225px;
  height: 42px;
  background: #e8833a;
  border-radius: 3px;
  margin-top: 30px;
}
.confirmButton {
  display: flex;
  margin-left: 72px;
}
